/*05/28/2018 UNIFIED STYLESHEET*/
/* tables still need 'cellspacing="0"' in the markup */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, nav,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, video  {
	/*overflow: visible;*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1;
	vertical-align: baseline;
	background: transparent;
	text-align: center;
	width: 100%;
}
#iframe2{
	margin-top: 0px;
	margin-bottom: 0px;
	overflow-x: scroll;
	overflow-y: scroll;
}
#spacer{
	background-color: #222222;
	
}
#iframe {
    margin: 0px;
	width: 100%; 
	height: 100%;
}
/* remember to define focus styles for tabbing with a keyboard */
:focus {
	outline: 0;
}
#globalWrapper{
		/*overflow-y: scroll;*/
}
#logo{
	background:url(logo.png) no-repeat;
	width:118px; 
	height:43px;
	display:block;
}
/*parent tag for the menu*/
#switcher {
	height: 60px;
	background: #4b4b4e;
	z-index: 99999;
	position: fixed;
	width: 17%;
	padding:0;
  /*border-bottom: 1px solid #ccc;*/
}
/*CSS.css imports*/
/* latin-ext */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(https://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v-Ql1o_0qyP5Uo8lbNkQAd8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(https://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v6y7YSlLHrWsjpD3RcrnyFM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
#life_story{
	font-size: 18px;
	color: red;
	font-family: "Times New Roman", Times, serif;
}
.link_header{
	color: white;
	font-size: 15px;
}
.outside_link{
	color: #e6e600;
	/*color: white;*/
	font-size: 15px;
}
.light{
	overflow: visible;
	background-color: #222222;
}
p.article_header{
	color: red;
	font-size: 12px;
}
p.article_text{
	color: white;
	font-size: 12px;
}
p.mainset{
	color: white;
	
	
}
p.offset{
	color: yellow;
	
}
/*Radius CSS*/
/*.yui3-hd{
	position:absolute;
	top:0px;
	left:1000px; 
	visibility: visible;
	z-index: 20;
}
#FrontScreen {
	visibility: visible;
	z-index: 10;
	top:0px;
	left:0px; 
	margin: 0px;
	width: 100%; 
	height: 100%;
}
#RearScreen {
	position:absolute;
	visibility: visible;
	top:0px;
	left:0px; 
	margin: 0px;
	width: 100%; 
	height: 100%;
}*/
/*---------------------------MOVIES--------------------------*/
#dgBox{
	color: red;
}
#speedtest{
	margin-top: 0px;
	margin-bottom: 0px;
	overflow-x: scroll; 
	overflow-y: scroll;	
}
#canvasMandelbrot{
	z-index: -1;
}
#canvasControls{
	z-index: -1;
}
#Inst{
	display:none;
}
/*---------------------------LINKS---------------------------*/
header{
	background-image('mashupmerged.svg');
}
.rotateimg90{
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
    text-decoration: none;
    color: #fff;
}
.btnBuy {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	display: inline-block;
	border-radius: 4px;
	background: #E7573C;
	color: #EEE;
	padding: 12px 10px 10px 10px;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 2px;
	/*height: 34px;
	line-height: 34px;*/
}
.btnBuy:hover {background:#FF5C00; color:#fff;}
.center {
	/*margin: auto;
	width: 960px;*/
	padding: 10px;
}
.center nav li {
    display: inline;
    float: left;
    position: relative;
}
.center nav li nav {
    display: none;
    margin-left: 10px;
    position: absolute;
    width: 220px;
    top:35px;
}
/*.center nav li nav li {
    background: #333;
    position:relative;
}*/
/*.center nav li nav li a {
    display: block;
    padding: 12px 10px;
    min-width: 173px;
    font-size: 14px;
    color: #c9c9c9;
    font-weight: 400;
    float:left;
}*/
.center nav li nav li a:hover{
    color:white;
}
.center nav li nav li img.type{
    margin:6px 7px 0 0;
}
.center nav li nav li .demo{
    display:none;
    position:absolute;
    top:7px;
    padding:3px;
    background-color: #eee;
    max-height: 300px;
}
.center nav li nav li:first-child {
    padding-top: 3px;
}
.center ul li ul {
    display: none;
    margin-left: 10px;
    position: absolute;
    width: 220px;
    top:35px;
}
.center ul li ul li {
    background: #333;
    position:relative;
}
.center ul li ul li a:hover{
    color:white;
}
.center ul li ul li .demo{
    display:none;
    position:absolute;
    top:7px;
    padding:3px;
    background-color: #eee;
    max-height: 300px;
}
li.purchase {
    margin-left: 20px;
    padding-top: 0px;
    float: right !important;
}
li.remove_frame {
    float: right !important;
    margin: 12px  10px 10px 10px;
}
li.remove_frame a:hover {
color:#999;
}
li.remove_frame a span {
    margin-right: 5px;
    font-weight: bold;
}
@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}
@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}
@media only screen and (max-width: 250px){
/*li#theme_list{display:none!important;}
li.remove_frame {float:right!important; font-size: 18px;}*/
.center ul li.purchase {display:none;}
.center nav li.purchase {display:none;}
.linkItem{margin-right: 15%;
	font-family: "Arial, Helvetica, sans-serif";/*"Times New Roman", Georgia, Serif;*/
	color: white;
	font-size: 16px;
	font-weight: 400;
    float:left;
	text-shadow: 0 0 3px #908af4;
	padding: 8px 10px;
	border-radius: 15px 50px;
	background: #444;}
}
@media only screen and (max-width: 600px){
/*li#theme_list{display:none!important;}
li.remove_frame {float:right!important; font-size: 18px;}*/
.center ul li.purchase {display:none;}
.center nav li.purchase {display:none;}
.linkItem{margin-right: 15%;
	font-family: "Arial, Helvetica, sans-serif";/*"Times New Roman", Georgia, Serif;*/
	color: white;
	font-size: 16px;
	font-weight: 400;
    float:left;
	text-shadow: 0 0 3px #908af4;
	padding: 8px 10px;
	border-radius: 15px 50px;
	background: #444;}
}
/*--------------------------------------------------------------HEADERFRAME------------------------------------*/
.linkItem{
	margin-right: 15%;
	font-family: "Arial, Helvetica, sans-serif";/*"Times New Roman", Georgia, Serif;*/
	color: white;
	font-size: 14px;
	font-weight: 400;
    float:left;
	text-shadow: 0 0 3px #908af4;
	padding: 8px 10px;
	border-radius: 15px 50px;
	background: #333;
	line-height: 1px;
}
#ER{
	display: none;
}
#customThemeList{
	display: table;
	position-top: 70px;
}
#container {
  overflow: visible;
  display: inline-block;
}/*custom ends here*/
a {
    text-decoration: none;
    color: red;
}
/*5/28/2018 Headerframe has a special one of these*/
#switcher {
	height: 60px;
	background: #4b4b4e;
	z-index: 99999;
	position: fixed;
	width: 0%;
	padding:0;
  /*border-bottom: 1px solid #ccc;*/
}
.linkText{
	margin-left: 40px;
}
#theme_dropdown_list {
    border-radius: 0 0 10px 10px;
    /*-moz-border-radius:  0 0 10px 10px;*/
    -webkit-border-radius:  0 0 10px 10px;
    padding: 20px;
	margin-top: 40px;
	shape-outside: circle(50%);
}
#selectorHud{
	margin-left: 50px;
}
#BlMenuImage{
	height: 17%; 
	width: 17%;
	margin-left: 10%;
}
#PicMenuImage{
	height: 17%; 
	width: 17%;
	margin-left: 10%;
}
#MovMenuImage{
	height: 17%; 
	width: 17%;
	margin-left: 10%;
}
#DocMenuImage{
	height: 17%; 
	width: 17%;
	margin-left: 10%;
}
#ConMenuImage{
	height: 17%; 
	width: 17%;
	margin-left: 10%;
}
/*5/28/2018 headerframe has a special version of this*/
.center nav li nav {
    display: none;
    margin-left: 0px;
    position: absolute;
    width: 120px;
    top:70px;
	/*background-color: #1f1414;*/
	opacity: .9;
}
/*5/28/2018 headerframe has a special version of this*/
/*.center nav li nav li a {
    display: block;
    padding: 8px 10px;
    min-width: 163px;
    font-size: 12px;
    color: black;
    font-weight: 400;
    float:left;
	text-shadow: 0 0 3px #908af4;
}*/
/*5/28/2018 headerframe has a special version of this*/
.center nav li nav li a:hover{
    color:black;
}
.center ul li {
    display: inline;
    float: left;
    position: relative;
}
/*5/28/2018 headerframe has a special version of this*/
.center ul li ul li img.type{
    margin:6px 7px 0 0;
}
.center ul li ul li:first-child {
    padding-top: 3px;
}
li.remove_frame {
    float: right !important;
    margin: 12px  10px 10px 10px;
}
li.remove_frame a {
color:#777;
font-size: 14px;
margin-right: 5px;
}
/*5/28/2018 Headerframe has a special version of this*/
#iframe {
    margin: 0px;
	width: 100%; 
	height: 800px;
}
#article_header{
	color: red;
	font-size: 12px;
}
#article_text{
	color: white;
	font-size: 12px;
}
/*-----------------------------------------------------------DEMOSCENE-------------------------*/
body {
	color: #fff;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	background-color: #fff;
	margin: 0px;
	overflow: scroll;
}
#info {
	position: absolute;
	top: 0px; 
	width: 100%;
	padding: 5px;
}
a {
	color: #2983ff;
}
canvas { 
	width: 100%; 
	height: 100%; 
}
/*-----------------------------------------------------------CONTACT---------------------------*/
#contactButton{
	width: 120px;
	height: 25px;
	font-weight: 600;
	border: 2px solid yellow;
	color: black;
	background-color: #1e0505;
	text-decoration: underline;
	/*text-decoration-color: white;*/
}
#theme_select {
    /*background: url(dropdown.png) no-repeat;*/
	margin-left: 0px;
    margin-top: 35px;
    width: 20px;
    display: block;
    padding: 10px 8px;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-size: 21px;
    /*background:#efefef;*/
	background: url(../img/menu_buttonSTm.svg)no-repeat right center;
	/*background-color: clear;*/
	background-size: 100% 50%;
}
/*-------------------------------------------------------FOOTER-------------------------------*/
#main_footer{
	height: 300px;
	position: relative;
	width: 100%;
	background-color: black;
	font-size: 15px;
}
/*.col-sm-2 col-xs-2 .footerPicS{*/
.footerPicS{
	height: 10%; 
	width: 10%;
}
/*.col-sm-2 col-xs-2 .footerPicL{*/
.footerPicL{
	height: 20%; 
	width: 20%;
}
.page_footer{
	font-size: 12px;
	color: red;
}

