{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
{{ block.super }} - Admin
{% endblock %}
{% block demoscene %}
{% endblock %}
{% block blogheaders %}
{% load static %}
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link href="{% static "a_data/css.css" %}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static "a_data/normalize.css" %}">
		<link rel="stylesheet" href="{% static "a_data/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "a_data/main.css" %}">
		<script src="{% static "a_data/modernizr-2.js" %}"></script>
		<script src="{% static "jquery-3.2.1.min.js" %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div id="globalWrapper">
	<section class="light">
		<div class="container">
			<div class="row">
				<section class="links">
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">7/11/2017</u></b></p></span>
												<p class="article_text">Reactivated Linkedin<a href="http://www.linkedin.com/in/clayton-burnett-008340141"> here</a></p>
												<p></p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">6/19/2017</u></b></p></span>
												<p class="article_text">More on renewable energy.  Increasing Supercapacitor capacity and solar panel efficiency: <a href="https://www.youtube.com/watch?v=1j_1V0Wg4z0"> here </a>and<a href="http://spectrum.ieee.org/energywise/energy/renewables/solar-cells-could-capture-infrared-rays-for-more-power"> here</a></p>
												<p></p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">6/14/2017</u></b></p></span>
												<p class="article_text">I'm thinking of adding a new section to the site where I can write blog articles.  This section will be for site updates.</p>
												<p></p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">6/2/2017</u></b></p></span>
												<p class="article_text">As of today Internet Explorer and Edge do not support the html5 details tag so I wrote a bunch of boilerplate javascript.</p>
												<p></p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">5/30/2017</u></b></p></span>
												<p class="article_text">Made some minor UI improvements to the site and cleaned up the code a bit.</p>
												<p class="article_text">Funny inventors quote of the day:<br><br>"Play is the highest form of research"<br><br>  --Albert Einstein</p>
												<p></p>
												<p></p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">5/22/2017</u></b></p></span>
												<p class="article_text">For anyone curious about the name penumbra systems I would refer them to an excellent vsauce episode<a href="https://www.youtube.com/watch?v=JTvcpdfGUtQ"> here</a><br><br>
												<i>**It's based on a Bernard Shaw quote about nescience; a 
constant reminder that as our knowledge grows, what we don't know grows 
that much faster.</i></p>
												<p></p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">5/17/2017</u></b></p></span>
												<p class="article_text"><u>Mid May update</u><br><br>I'm thinking of taking videos of great tech places to visit in Portland, hopefully it will give people ideas on the types
												of places they can work in the area and what the culture looks like.<br><br>Truthfully we all see the best foot forward in any formal display, but is that really what the day to day is like?
												<br><br>Let's find out!</p>
												<p></p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">5/17/2017</u></b></p></span>
												<p class="article_text">Calling all inventors!<br><br>Here's a great meetup group for those who want a little feedback on inventing around the Portland area<br><br><a href="https://www.meetup.com/NW-Inventors-Network-Meetup/">open in new tab</a></p>
												<p></p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">5/10/2017</u></b></p></span>
												<p class="article_text">Funny inventors quote of the day:<br><br>UNIX is basically a simple operating system, but you have to be a genius to understand the simplicity<br><br>  --Dennis Ritchie</p>
												<p></p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">5/10/2017</u></b></p></span>
												<p class="article_text">The PA has a new codename now officially known as project Linseed.<br><br>Until I change it that is...
												I won't say much but I will say that it will be special and just a bit different than other PA systems.<br><br>The
 prototype seems to be
												performing well and I hope to try and get it ready by the 
holiday season.  I haven't needed to open a crowd funding campaign yet, 
maybe
												that means I'm not a crook :)</p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">5/5/2017</u></b></p></span>
												<p class="article_text">Got a few radical things in the works.  I've succeeded in developing a new type of semiconductor device.<br><br>Been
 toying with
												integrating it into the PA system I'm making as it has a few
 very interesting and useful properties that can simplify the circuitry.
  Maybe I'll make a youtube video
												eventually on what I see as a ripe direction for new 
electronics research using modern materials.<br><br>As an aside Robert Murrays lab has been developing some really
												neat materials lately.  Maybe we'll eventually be building skyscrapers out of plastics</p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">5/5/2017</u></b></p></span>
												<p class="article_text">Funny inventors quote of the day:<br><br>Name the greatest of all inventors.  Accident<br><br>  --Mark Twain</p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">5/2/2017</u></b></p></span>
												<p class="article_text">Funny inventors quote of the day:<br><br> I do not think you can name many great inventions that have been made by married men.<br><br>  --Nikola Tesla</p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">4/12/2017</u></b></p></span>
												<p class="article_text">Update your notepad++, wikileaks revealed CIA spy code <a href="https://wikileaks.org/ciav7p1/cms/page_26968090.html">here</a></p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">4/11/2017</u></b></p></span>
												<p class="article_text">Was out today and had someone try to
 mess with me over public wifi.  They used a tool
												called wifikill for android to try and kick me off the 
network.  I hope that this isn't the next big trend among
												script kiddies as it can be very disruptive.  Many people 
don't know how to protect themselves and it appears to be a
												major security flaw with open wireless.  There are companies
 that suspiciously make a vpn protection program that they want people
												to pay for but the program seems to fight my e-mail client</p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">3/30/2017</u></b></p></span>
												<p class="article_text">I managed to fix a host of bugs, 
looks like it might be nice to actually put my styles in the site CSS.  
I'm working on improving
												the performance of the picture gallery for mobile, It's just
 trying to load too many pictures at once.  I could use a few more 
categories but still thinking about
												How I'd like to display everything.</p>
                                    </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">3/27/2017</u></b></p></span>
												<p class="article_text">There is finally a dedicated domain 
and live testing has started on the site.  There are of course a few 
bugs
												which I hope to get fixed soon.  For the best experience, I 
started coding the site using firefox so most people will probably
												find the fewest bugs with that.  I found out my web host 
didn't like files with underscores in them, and that my system fonts 
												change with every web browser I test on making the site look
 inconsistent. Just the small stuff like that.  Small update planned for
 
												tomorrow.</p>
                                          </div>
									<div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">3/21/2017</u></b></p></span>
												<p class="article_text">Those .io websites are awesome check out <a href="http://agar.io/">Agar.io</a> or my favorite <a href="http://starblast.io/">The space one</a> I was just thinking
												about how much money these guys probably pull in from ad revenue using google adwords.</p>
                                          </div>
									 <div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">3/20/2017</u></b></p></span>
												<p class="article_text">Perl is not an old persons 
programming language. The next young'un that tries to flash me his 
python is
												going to get a CGI full of ruby gems!  Yes I am an old Perl 
programmer and I love it.  I was writing CGI before this python 
												stuff even got big.  I've never quite been able to 
understand the religious debate, with the exception of the Perl shrine 
to 
												Larry Wall (honestly check it out, it's crazy).  I long for 
the days of a single/standard web scripting language.</p>
                                          </div>
                                          <div class="col-sm-3 col-xs-6">
												<span><p><b><u class="article_header">3/1/2017</u></b></p></span>
												<p class="article_text">Time to stop using my site like a 
sandbox, I've included a bunch of neat science stuff to look at and I 
plan to keep updating 
												as I find time.  I included a live demo of the Radius engine
 under the menu links as well as a video archive of old training films 
												and pictures from my personal research on 
batteries/renewable energy.  Some of the pictures are electronics 
related but I plan
												to have different galleries eventually where I actually sort
 everything.</p>
                                          </div>
                                    </section>
                              </div>
                        </div>  
				</section>
			</div>			
{% endblock %}